:root.theme-light {
  --header-background-image:  url('../images/cover-image-light.png');
  --accent-color: #FF8DCB;
  --menu-color: #353430;
  --focus-color: #FFC2E6;
  --menu-color-transparent: #35343066;
  --group-title-color: var(--menu-color);
  --article-title-color: var(--menu-color);
  --article-content-color: var(--menu-color);
}

.theme-light .lamp {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root.theme-auto {
    --header-background-image:  url('../images/cover-image-light.png');
    --accent-color: #FF8DCB;
    --menu-color: #353430;
    --focus-color: #FFC2E6;
    --menu-color-transparent: #35343066;
    --group-title-color: var(--menu-color);
    --article-title-color: var(--menu-color);
    --article-content-color: var(--menu-color);
  }
  
  .theme-auto .lamp {
    display: none;
  }
}