/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-image: var(--header-background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: "IBM Plex mono", "Arial", sans-serif;
  font-weight: 700;
}

.header {
  position: relative;
  padding: 10px;
  block-size: 100vh;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
}

.lamp {
  position: absolute;
  top: 10px;
  right: 19px;  
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.lamp::before {
  content: "REC";
  font-size: 18px;
  line-height: 139%;
  color: var(--menu-color);
}

.lamp::after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--menu-color);
  box-shadow: 0px 0px 4px 2px var(--menu-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--menu-color);
  border-right: 1px solid var(--menu-color);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 10px;
  border-left: 1px solid var(--menu-color);
  border-bottom: 1px solid var(--menu-color);
  inline-size: 25px;
  block-size: 25px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: center;
  justify-self: end;
  align-items: center;
  justify-items: center;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--menu-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  min-width: 70px;
  min-height: 26px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--menu-color-transparent);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--menu-color);
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--focus-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: center;
  justify-self: start;
}

.header__description {
  font-size: 18px;
  line-height: 130%;
}

.title-decor {
  background: var(--accent-color);
}

.main {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
  gap: 50px
}

.group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.group__title {
  color: var(--group-title-color);
  font-size: 18px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article__title {
  color: var(--article-title-color);
  background-color: var(--accent-color);
  font-size: 18px;
}

.article__subtitle {
  color: var(--article-title-color);
  background-color: var(--accent-color);
  font-size: 18px;
  font-weight: 400;
}

.article__content {
  color: var(--article-content-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
}

.article__link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color);
}

.article__link:hover {
  border-bottom: 1px solid var(--article-content-color);
}

.article__link:focus {
  outline: none;
}

.article__link:focus-visible {
  outline: 1px solid var(--article-content-color);
}

.images {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}


.footer {
  position: relative;
  padding: 10px;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--focus-color);
  text-shadow: 2px 2px 0px var(--accent-color);

}

@media (width >= 768px) {
  .page {
    gap: 60px;
  }

  .header {
    padding-left: 0px;
    padding-right: 0px;
  }

  .header__title,
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  
  .lamp {
    top: 20px;
    right: 29px;  
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
  
  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }

  .header__theme-menu-list {
    margin: 20px;
  }

  .header__description {
    max-width: 364px;
    justify-self: end;
    margin: 20px;
  }
 
  .main {
    gap: 80px;
  }

  .group {
    padding: 0px 10px;
  }

  .group_why,
  .group_how {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .article__images {
    gap: 20px;
  }

  .images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .image_sunset {
    grid-column: span 2;
  }

  .image_icecream {
    grid-row: span 2;
  }

  .image_tape {
    grid-row: span 2;
  }

  .image_street {
    grid-column: span 2;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    align-self: self-start;
  }

  .header__theme-menu-list {
    margin: 10px;
    flex-direction: row;
    align-self: self-start;
    justify-self: center;
  }

  .header__description {
    max-width: 491px;
  }

  .group_what .group__title {
    max-width: 34vh;
  }

  .group_what .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
